
#species_list{
    padding-top: 10px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
}
#species_list li span{
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-top: 10px;
}
#species_list li{
    margin-bottom: 10px;
    height: 116px;
}
#species_list li a{
    height: 100%;
    display: block;
}
.footer_info .info1 i{
    background-position:-122px 0px;
}
.footer_info .info2 i{
    background-position:-34px -36px;
}
.footer_info i{
    display: block;
    margin: 0 auto;
}
.footer_info a{
    color: #000;
    margin-top: 3px;
    display: inline-block;
}
a:hover{
    outline: none;
    text-decoration: none;
}
.footer_info{
    margin-top: 0px;
}