*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}
.bgw{
    background-color: #fff;
}
.pr0{
    padding-right: 0;
}
.pl0{
    padding-left: 0;
}
.pic{
width: 100%;
}
.mr_b{
    margin-bottom: 20px;
}
.mr_t{
    margin-top: 10px;
}
 ul li{
    list-style: none;
}
/*页脚*/
.footer_info {
    text-align: center;
}
.footer_info  i{
    display: inline-block;
    width: 30px;
    height:24px;
    background: url("../images/img.png");
    background-size: 150px;

}
.footer_info .info1 i{
    background-position: 54px 0px;
}
.footer_info .active{
    color: #FF6699;
}
.footer_info .info2 i{
    background-position: 109px 3px;
}
.footer_info .info3 i{
    background-position: 82px 5px;
}
.footer_info .info4 i{
    background-position: 133px 4px;
    width: 27px;
}
.footer_info{
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;
}
a{
    color: #000;
}

a:hover{
    outline: none;
    text-decoration: none;
}