*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}
.bgw{
    background-color: #fff;
}
.pr0{
    padding-right: 0;
}
.pl0{
    padding-left: 0;
}
.pic{
width: 100%;
}
.mr_b{
    margin-bottom: 10px;
}
.mr_t{
    margin-top: 10px;
}
 ul li{
    list-style: none;
}
/*页脚*/
.footer_info{
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;
    text-align: center;
    padding-bottom: 10px;
}
.footer_info   i{
    display: block;
    margin: 0 auto;
    width: 30px;
    height:28px;
    background: url("../images/img6.png") no-repeat;
    background-size: 150px;
}
.footer_info .info1 i{
    background-position: -122px -37px;
}
.footer_info .info2 i{
    background-position: -34px 2px;
}
.footer_info .info3 i{
    background-position: -82px 5px;
}
.footer_info .info4 i{
    background-position: 5px 4px;
}

.footer_info a{
    color: #000;
    margin-top: 3px;
    display: inline-block;
}
.footer_info .active{
    color: #FF6699;
}
a:hover{
    outline: none;
    text-decoration: none;
}