p {
    margin: 0;
}
.pd_15 {
    padding: 10px 15px;
}
.text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.commodity {
    padding: 10px 15px;
    border-bottom: 1px solid #f2f2f2;
}
.commodity .content .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 25px;
}
.commodity .content .price {
    color: #FF6699;
    line-height: 25px;
}
.commodity .content .delect {
    text-align: right;
}
.commodity .content .delect i {
    background: url("../images/apply.png");
    width: 16px;
    height: 16px;
    background-size: 83px;
    background-position: -20px 0px;
    display: inline-block;
    vertical-align: middle;
}
