.sbmit .save{
    width: 60%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #FF8CB1;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    color: #FF8CB1;
    outline: none;

}
.new_address{
    margin-top: 50px;
    width: 60%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #FF8CB1;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    color: #FF8CB1;
}
.sbmit{
    margin-top: 50px;
    text-align: center;
}
.pd_f{
    padding-left: 10px;
}
.name,.tel, .detailed{
    color: #DCDCDC;
}
.same{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1px;
}
.address .span{
    display: inline-block;
    float: left;
}
.address .arrow{
    display: inline-block;
    background: url("../images/left_arrow.png") no-repeat;
    width: 8px;
    height: 15px;
    background-size: 8px;
    float: right;
    vertical-align: middle;
    position: relative;
    right: 0px;
    bottom: -12px;
}